body{
    margin:0;
    background-color: black;
    background-image: url(../img/star.png);
    font-family: "Open Sans", sans-serif; 
    font-size: 1em;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    max-width: 70vw; 
}
h1{
    font-size: 2.3em;
    font-family: 'Oswald', sans-serif;
    color: white;
}
h2{
    margin-top: 1em;
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
    color: white;
}
.header {
    position: relative;
    height: 600px;
    background-color:black;
    background-image: url(../img/star.png);
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}
.logo {
    height: 100px;
    width: 100%;
    background-image: url(../img/logowhite.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}
.foreground-header {
    width: 960px;
    height: 960px;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 380px;
}
.background-header {
    width: 960px;
    height: 298px;
    background-image: url(../img/star.png);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}
.circle{
    margin-top: 100px;
    border-radius:500px;
    width:400px;
    height:400px;
    opacity:0.7;
    background: #C0CF3A;
    text-align: center;
    position: absolute;
    margin-left: 20vw;
}
.circleImage{
    margin-top: 30px; 
}
.description{
    color: #A8A8A8;
    padding: 100px 0;
    text-align: justify;
}
.obituary_description{
    color: #A8A8A8;
    padding-top: 70px;
    text-align: justify;
}
.content{
    max-width: 70vw;
    margin: 0 auto;
    text-align: center; 
}
#container{
    width: 100%;
    height: 600px;
    position: relative;
}
#data-text-box{
    height: 50vh;
    // background-image: url(../img/landscape.gif);
    background-position: center 0px;
    margin-top: 50vh;
}
.data-text{
    // display: block;
    font-size: 1.7em; 
    font-family: 'Oswald', sans-serif;
    color: #C0CF3A;
}
.data-text a{
    color: #C0CF3A;
    text-decoration: none;
}
#addedText{
    font-size: 1.7em; 
    font-family: 'Oswald', sans-serif;
    color: #C0CF3A;
    z-index: 30;
}
#tryit_button{
    text-decoration: none;
    color: white;
    background-color: #C0CF3A;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius:10px;
}
#tryit_button:hover{
    color:black;
}
#transparentLayer{
    position: fixed;
    width: 100vw;
    margin: 0;
    top: 0;
    left: 0;
    display: none;
    background-image: url(../img/dots.gif);
    height: 100vh;
    opacity: 0.3;
    z-index: 10;
}

// #addedText{
//     position: absolute;
//     top: 0;

//     margin :{
//         top: 50%;
//         left: 20%;
//         right: 20%;
//     }

//     display: none;
//     background: white;
//     width: 50vw;
//     height: 50vh;
//     z-index: 20;
//     font-family: sans-serif;
// }
#modalbutton:hover{
    color: #353535;
}
#BeyondtheDigital-highlight{
    color: white;
}
// #dataSection{
//     // height: 100vh;
// }

////////BALL BLINK/////////
.ball-loader{
  width: 60 + 0px;
  height: (60 / 3) - 10px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 62vw;
  margin-top: -1vh;
}
.ball-loader-ball{
  will-change: transform;
  height:(60 / 3) - 10px;
  width: (60 / 3) - 10px;
  border-radius: 50%;
  background-color: #C0CF3A;
  animation: grow 1s ease-in-out infinite alternate;

  &.ball1{
    left:0;
    transform-origin: 100% 50%;
  }
}

@keyframes grow{
  to{
    transform: translateX(-50%) scale(0);
  }
}
#cemetary_window{
  height: 70vh;
  background-image: url(../img/cemetary.png);
  background-position: center 0px;
  background-attachment: fixed;
  background-repeat: repeat-y;
  position: relative;
  margin-bottom: 10vh;
}
.blank{
    background-color: #C0CF3A;
    padding: 0px 3.5px;
    color: black;
    font-size: 0.9em;
}
#obituary_text{
    padding: 0px 10vw;
    line-height: 1.7em;
    color: #A8A8A8;
    text-align: justify;
    margin-bottom: 10vh;
}
#obituary{
    padding: 10vh 0px;
    width: 70vw;
    border-style: solid;
    border-width: 0.5px;
    border-color: #6C6C6C;
    margin-bottom: 10vh;
}
#fbookDeathInfo{
    color: #A8A8A8;
    text-align: center;
    margin-bottom: 10vh;
    font-size: 1.2em;
    color:white;
}
#deadUsers{
    color: #C0CF3A;
    font-size: 2em;
    font-weight: bold;
}
#deathYear{
    color: #C0CF3A;
    font-size: 2em;
    font-weight: bold;
}
